.form__name {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.final-form__container {
  text-align: start;
  padding-top: 50px;
}

.form__date {
  display: flex;
  gap: 20px;
}
.final-form__container input {
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}
.final-form__container label {
  color: black;
  display: block;
}

.form__check {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
.check {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form__text-area {
  min-width: 90%;
  max-width: 90%;
  min-height: 90px;
  max-height: 90px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}
.buttons-form {
  background-color: #6a6a6a;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  border: 2px solid white;
  transition: 0.3s ease, 0.3s ease;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.3s ease, 0.3s ease;
}

.buttons-form:hover {
  background-color: #3b3b3b;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  padding-left: 7px;
  padding-top: 12px;
  cursor: pointer;
}

.react-datepicker__tab-loop {
  position: absolute;
}

@media (max-width: 865px) {
  .form__date {
    flex-wrap: wrap;
  }
  .form__check {
    margin-top: 0;
  }
}
@media (max-width: 708px) {
  .form__name input {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .buttons-form {
    font-size: 18px;
  }
}
