.form__name {
  display: flex;
  gap: 20px;
}

.final-form__container {
  text-align: start;
  padding-top: 50px;
}

.form__date {
  display: flex;
  gap: 20px;
}
.final-form__container input {
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}
.final-form__container label {
  color: black;
  display: block;
}

.form__check {
  display: inline-block;
  margin-bottom: 0;
}
.check {
  display: flex;
  gap: 10px;
}

.form__text-area {
  min-width: 40%;
  max-width: 40%;
  min-height: 90px;
  max-height: 90px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}
.buttons-form {
  background-color: #6a6a6a;
  color: aliceblue;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  border: 2px solid white;
  transition: 0.3s ease, 0.3s ease;
  margin-top: 60px;
  transition: 0.3s ease, 0.3s ease;
}

.buttons-form:hover {
  background-color: #3b3b3b;
}
