.proekt__title {
  text-align: start;
}
.proekt__text {
  margin-bottom: 50px;
}
.proekt__text p {
  text-align: start;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .proekt__text {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .proekt__text {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .proekt__text {
    font-size: 12px;
  }
}
